# SQLite

In [4]:
import sqlite3

## CREATE TABLE

In [116]:
def create_table():
    conn = sqlite3.connect('my_book_lib.db')
    cur = conn.cursor()
    
    cur.execute('''CREATE TABLE my_book_lib (
                    title             text,
                    published_date    text,
                    author            text,
                    publisher         test,
                    pages             integer
                )'''
               )
    print("create_table is successfully completed")
    conn.commit()
    conn.close() # connect close
    
if __name__ == "__main__":
    create_table()

create_table is successfully completed

# INSERT

In [117]:
def insert_book():
    conn = sqlite3.connect('my_book_lib.db') 
    cur = conn.cursor()  
    
    # data input (option 1)
    cur.execute("""INSERT INTO my_book_lib VALUES 
                   ('Deep Learning', '2016.11.18',\
                   'Ian Goodfellow', 'The MIT Press', 800)
                """)
    
    # data input (option 2)
    insert_sql = 'INSERT INTO my_book_lib VALUES (?, ?, ?, ?, ?)'
    cur.execute(insert_sql, ('Machine Learning', '2018.01.01', 'Oliver Theobald','Independently published', 151))
    
    # data input (option 3)
    books = [
        ('Python for Data Analysis', 'Wes McKinney','2017.10.20', 'Reilly Media', 550),
        ('Storytelling with Data', 'Cole Nussbaumer Knaflic','2015.11.02', 'Wiley', 288),
        ('Data Science for Business!', 'Foster Provost','2017.02.03', 'Reilly Media', 414)
    ]

    cur.executemany(insert_sql, books)
    print("insert_book is successfully completed")
    conn.commit()     
    conn.close()       

if __name__ == "__main__":
    insert_book()

insert_book is successfully completed

## SELECT

### all

In [107]:
def select_all_books():
    conn = sqlite3.connect('my_book_lib.db')        
    cur = conn.cursor()                         
    cur.execute('SELECT * FROM my_book_lib')    

    print('[1] Print the entire data')
    books = cur.fetchall()                          
    print('type(books):', type(books),"\n")
    print('books:', books)
    print()

    for book in books:    
        print(book)

    conn.close()                                    

if __name__ == "__main__":		                
    select_all_books()

[1] Print the entire data
type(books): <class 'list'>

books: [('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800), ('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151), ('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550), ('Storytelling with Data', 'Cole Nussbaumer Knaflic', '2015.11.02', 'Wiley', 288), ('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)]

('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800)
('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
('Storytelling with Data', 'Cole Nussbaumer Knaflic', '2015.11.02', 'Wiley', 288)
('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)

### all items

In [108]:
def select_all_books():
    conn = sqlite3.connect('my_book_lib.db')        
    cur = conn.cursor()                         
    cur.execute('SELECT * FROM my_book_lib')    

    print('Print the entire data')
    books = cur.fetchall()             # all                       

    for book in books:    
        print(book)
        for item in book:              
            print('-', item)
        print()

    conn.close()                                    

if __name__ == "__main__":		                
    select_all_books()

Print the entire data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800)
- Deep Learning
- 2016.11.18
- Ian Goodfellow
- The MIT Press
- 800

('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
- Machine Learning
- 2018.01.01
- Oliver Theobald
- Independently published
- 151

('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
- Python for Data Analysis
- Wes McKinney
- 2017.10.20
- Reilly Media
- 550

('Storytelling with Data', 'Cole Nussbaumer Knaflic', '2015.11.02', 'Wiley', 288)
- Storytelling with Data
- Cole Nussbaumer Knaflic
- 2015.11.02
- Wiley
- 288

('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)
- Data Science for Business!
- Foster Provost
- 2017.02.03
- Reilly Media
- 414

### partial

In [109]:
def select_some_books(number):
    conn = sqlite3.connect('my_book_lib.db')         
    cur = conn.cursor()                         
    cur.execute('SELECT * FROM my_book_lib')  

    print('Print', number, 'Data')
    books = cur.fetchmany(number)   # many                

    for book in books:                             
        print(book)

    conn.close()                                   

if __name__ == "__main__":		                
    select_some_books(2)

Print 2 Data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800)
('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)

### one

In [110]:
def select_one_book():
    conn = sqlite3.connect('my_book_lib.db')     
    cur = conn.cursor()                        

    cur.execute('SELECT * FROM my_book_lib')    
    print('Print ONE Data')
    print(cur.fetchone())       # one                 
    conn.close()                             

if __name__ == "__main__":		               
    select_one_book()

Print ONE Data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800)

## WHERE

In [111]:
def find_thick_books():
    conn = sqlite3.connect('my_book_lib.db')         
    cur = conn.cursor()                             

    cur.execute('SELECT title, pages FROM my_book_lib WHERE pages > 300')
    print('print think book')
    books = cur.fetchall()                          

    for book in books:                              
        print(book)
        #print(book['title'])
    conn.close()                                    

if __name__ == "__main__":		                
    find_thick_books()

print think book
('Deep Learning', 800)
('Python for Data Analysis', 550)
('Data Science for Business!', 414)

## UPDATE

In [112]:
def update_book():
    conn = sqlite3.connect('my_book_lib.db')       
    cur = conn.cursor()  

    update_sql = '''UPDATE my_book_lib SET pages = ? 
                    WHERE title = ?
                 '''
    # 수정 SQL 실행
    cur.execute(update_sql, (805, 'Deep Learning'))
    conn.commit()                                   
    conn.close()                                 

if __name__ == "__main__":              
    select_one_book()
    update_book()                               
    print('update is completed ', "\n")
    select_all_book()

Print ONE Data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 800)
update is completed

Print the entire data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 805)
- Deep Learning
- 2016.11.18
- Ian Goodfellow
- The MIT Press
- 805

('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
- Machine Learning
- 2018.01.01
- Oliver Theobald
- Independently published
- 151

('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
- Python for Data Analysis
- Wes McKinney
- 2017.10.20
- Reilly Media
- 550

('Storytelling with Data', 'Cole Nussbaumer Knaflic', '2015.11.02', 'Wiley', 288)
- Storytelling with Data
- Cole Nussbaumer Knaflic
- 2015.11.02
- Wiley
- 288

('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)
- Data Science for Business!
- Foster Provost
- 2017.02.03
- Reilly Media
- 414

## DELETE

In [113]:
def delete_book():
    conn = sqlite3.connect('my_book_lib.db')     
    cur = conn.cursor()                     

    delete_sql = "DELETE FROM my_book_lib WHERE publisher = 'Wiley'"

    cur.execute(delete_sql)
    conn.commit()                               
    conn.close() 
    
if __name__ == "__main__":                
    select_all_books()                         
    delete_book()
    print('Delete is compeleted')
    select_all_books()

Print the entire data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 805)
- Deep Learning
- 2016.11.18
- Ian Goodfellow
- The MIT Press
- 805

('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
- Machine Learning
- 2018.01.01
- Oliver Theobald
- Independently published
- 151

('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
- Python for Data Analysis
- Wes McKinney
- 2017.10.20
- Reilly Media
- 550

('Storytelling with Data', 'Cole Nussbaumer Knaflic', '2015.11.02', 'Wiley', 288)
- Storytelling with Data
- Cole Nussbaumer Knaflic
- 2015.11.02
- Wiley
- 288

('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)
- Data Science for Business!
- Foster Provost
- 2017.02.03
- Reilly Media
- 414

Delete is compeleted
Print the entire data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 805)
- Deep Learning
- 2016.11.18
- Ian Goodfellow
- The MIT Press
- 805

('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
- Machine Learning
- 2018.01.01
- Oliver Theobald
- Independently published
- 151

('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
- Python for Data Analysis
- Wes McKinney
- 2017.10.20
- Reilly Media
- 550

('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)
- Data Science for Business!
- Foster Provost
- 2017.02.03
- Reilly Media
- 414

In [114]:
def delete_books():
    conn = sqlite3.connect('my_book_lib.db')     
    cur = conn.cursor()  
    
    delete_sql = 'DELETE FROM my_book_lib'
    cur.execute(delete_sql)
    conn.commit()                               
    conn.close()                                

if __name__ == "__main__":		                
    select_all_books()
    print()
    delete_books()                              
    print('[All data is deleted]')
    select_all_books()

Print the entire data
('Deep Learning', '2016.11.18', 'Ian Goodfellow', 'The MIT Press', 805)
- Deep Learning
- 2016.11.18
- Ian Goodfellow
- The MIT Press
- 805

('Machine Learning', '2018.01.01', 'Oliver Theobald', 'Independently published', 151)
- Machine Learning
- 2018.01.01
- Oliver Theobald
- Independently published
- 151

('Python for Data Analysis', 'Wes McKinney', '2017.10.20', 'Reilly Media', 550)
- Python for Data Analysis
- Wes McKinney
- 2017.10.20
- Reilly Media
- 550

('Data Science for Business!', 'Foster Provost', '2017.02.03', 'Reilly Media', 414)
- Data Science for Business!
- Foster Provost
- 2017.02.03
- Reilly Media
- 414


[All data is deleted]
Print the entire data